body{
    font-family: "Montserrat-Black";
    text-align: center;
}
h1{
    /* font-family: "Montserrat-Black", ; */
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
 }
 h2,h3{
    /* font-family: "Montserrat-Bold"; */
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.5;
} 
.coloured-bg{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 2%;
}
#title, white-bg{
    color: #fff;
}
.title h1{
    text-align: left;
}


        /*              navbar            */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    /* font-family: "Ubuntu"; */
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}
/*          Download button           */
.Download-button{
    margin: 3% ;
}
/*                                 Title-img                          */
.Title-img{
    padding-top: 5%;
    width: 50%;
    transform: rotate(25deg);

}

    /*          features          */
.features{
    padding: 7% 13%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.f-box{
    background-color: rgb(254, 255, 255);
    padding: 7%;
    color: rgb(20, 21, 22);    
}
.features p{
    color: #8f8f8f;
}  
.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}
.icon:hover{
    color: #f63c58;
}
 /*               Testimonials               */
#testimonials {
    padding:3% 12%;
    /* text-align: center; */
    color: #fff;
    background-color:#ef8172 ;
}
.testimonial-img{
    border-radius: 100%;
    width: 10%;
    margin: 20px ;
}
    /*          press            */
#press{
    background-color:#ef8172 ;
    /* text-align: center; */
    padding-bottom: 5%;
}
.press-logo{
    width: 15%;
    margin: 20px 10px 50px;
}
.carousel-item{
    padding:7% 12%;
}
/*           pricing section            */
#pricing{
    padding: 100px;
    /* text-align: center; */
}
.pricing-column {
    padding: 3% 2%;
}
#cta{
    /* font-family: "Montserrat-black"; */
    color: #fff;
    padding: 10%;
    /* text-align: center; */

}
#cta h3{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}
#footer{
    background-color: #fff;
    /* text-align: center; */
    padding: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.footer-logos{
    padding:  2%;
}
#footer p{
    color: #8f8f8f;
}
@media (max-width:1028px){
    .Title-img{
        position: static;
     transform: rotate(0);  
     /* text-align: center;  */
    }
    
}